dispatcher_plugin_antares/__pycache__/*
tests/__pycache__/*
.env
.vscode
ul_file_test.fits
scratch_sid*
dispatcher_plugin_antares.egg-info/*
.venv
ant_u.fits
byind_ant_u.fits
tmp.fits.gz
download_*/antares_table.fits.gz
